.signup-btn{
    border: none;
    background-color: hsl(221, 65%, 40%);
    color: white;
    font-size: 1.1rem;
    width: 100%;
}
.signup-title{
    border-bottom: 3px solid #234ca7;
}
.signup-container {
    background-color: #234ca7;
}
