.profile-card {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    margin: 0 auto;
    display: block; 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

.username-input {
    width: 50%; /* Adjust as needed */
    margin: 150px auto; /* 10px top and bottom margin, and horizontally centered */

}


.btn-primary {
    margin-top: 10px; 
    margin: 20px;
}  

.modal {
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure modal appears above other content */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    justify-content:center;
    align-items: center;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.close {
    position: absolute; /* Absolute positioning */
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.username {
    margin-top: 10px; /* Adjust as needed */
}

.cancel-button {
    position: absolute;
    top: 550px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}

/* Default light mode styles */
body {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}