

.control-panel-card {
    background-color: #444444 !important; /* Add transparency for the glass effect */
    color: white !important;
    border: none !important;
    border-radius: 15px !important;
    transition: transform 0.2s ease-in-out !important;
    backdrop-filter: blur(10px); /* This will give the glass effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Slightly toned down for a softer appearance */
}

#logout-card {
    background-color: rgba(255, 0, 0, 0.8) !important; /* Added transparency to the red background */
    backdrop-filter: blur(10px); /* Glass effect for logout card */
}

.control-panel-card:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.control-panel-card__body {
    padding: 40px !important;    
}

.control-panel-card__title {
    font-size: 1.5em !important;
    font-weight: 400 !important;
    color: inherit !important;
    text-transform: none !important; 
}

.control-panel-card a,
.control-panel-card a:hover,
.control-panel-card a:focus {
    color: white !important;
    text-decoration: none !important;  
}
