.custom-card {
    background-color: #007bff; 
    color: white;
    width: 120px;   
    height: 120px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;  
}

.card-title {
    font-size: 24px;  
    font-weight: bold;
    text-decoration: none;
}

#logout{
    background-color: red !important;
}

.custom-card:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
}

.custom-card .card-body {
    padding: 40px !important;    
}

.custom-card a,
.custom-card a:hover,
.custom-card a:focus {
    color: white !important;
    text-decoration: none !important;  
}

.calendar .custom-card .card-title {
    font-size: 1.2em !important; 
}


.custom-button {
    background-color: #007bff;
    font-weight: bold;
    color: white;
    width: 5rem; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    border:black; 

    transition: transform 0.2s ease-in-out; 
}

.custom-button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.red-period{
    background-color: red !important;
    color: white;
}